{% extends 'frontend/base.html' %}

{% block title %}
<title>Reservations</title>
{% endblock title %}

{% block content %}
<div class="body-body">
    <div class="container-all-res">
        <div class="static-card-all-res">
            <div class="content-res">
                <h3>Estas son las cartas de tus reservas.</h3>
                <p>Si quieres revisar las reservas de la sala, haz click <a
                        href="{% url 'reservations:lista' %}">aquí.</a></p>
            </div>
        </div>
        {% for reservation in reservations %}
        <div class="card-all-res">
            <div class="content-res">
                <h3>Reserva para el {{reservation.date|date:"d"}} de {{reservation.date|date:"M"}}</h3>
                <p>de {{reservation.check_in}} a {{reservation.check_out}}</p>
                <small>Reservado por {{reservation.owner.username.capitalize}}</small>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}