{% extends 'frontend/base.html' %}

{% block title %}
{% endblock title %}


{% block content %}
<div class="body-body">
    <div class="container">
        {% for band in bands %}
        <div class="band-card">
            <div class="band-content">
                <div class="band-pic">
                    <img id="band-pic-circle" src="{{band.img.url}}" alt="Foto de perfil">
                </div>
                <div class="band-body-content">
                    <h2>{{band.name.title}}</h2>
                </div>
                <div class="band-footer-content">
                    <small><a href="#">Editar banda</a></small>
                    <p>~</p>
                    <small><a href="#">Borrar</a></small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>



</div>
{% endblock content %}