{% extends 'frontend/base.html' %}

{% load widget_tweaks %}

{% block title %}
<title>Crear banda</title>
{% endblock title %}

{% block content %}
<div class="body-body">
    <div class="form-container">
        <div class="form-card">
            <div class="form-card-content">
                <h1>Bands</h1>
                <hr>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-txt_field">
                        {% render_field form.name type="text" placeholder="Name"%}
                    </div>
                    <div class="form-txt_field">
                        {% render_field form.genre type="text" placeholder="Genre"%}
                    </div>
                    <div class="form-file-field">
                        {% render_field form.img type="file" placeholder="Imagen" %}
                    </div>
                    <input class="form-submit" type="submit" value="Crear">
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}