{% extends 'frontend/base.html' %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
<div class="body-body">

    <div class="main-container">
        <div class="greeting-wrapper">
            <h3>Profile</h3>
        </div>
        <div class="card-container">
            <div class="card-wrapper">
                <div class="left-column">
                    <div class="profile-pic">
                        <img id="profile-pic-circle" src="{{user.profile.pic.url}}" alt="Foto de perfil">
                    </div>
                    <div class="personal-info">
                        <h4>{{user.username.capitalize}}</h4>
                        <h6>{{user.profile.rol.capitalize}}</h6>
                    </div>
                    <div class="profile-links">
                        <div class="a-profile">
                            <a href="#">Profile</a>
                        </div>
                        <div class="a-profile">
                            <a href="#">Bands</a>
                        </div>
                        <div class="a-profile">
                            <a href="#">Reservations</a>
                        </div>
                    </div>
                </div>
                <div class="right-column">
                    <div class="reservations-info">
                        <div class="reservas-hechas">
                            <h4>TOTAL DE RESERVAS</h4>
                            <h1 class="profile-big-num">0</h1>
                        </div>
                        <div class="reservas-hechas">
                            <h4>HORAS ENSAYADAS</h4>
                            <h1 class="profile-big-num">0</h1>
                        </div>
                    </div>
                    <div class="bands-info">
                        <div class="top-bands">
                            <h4>TOP BANDAS</h4>
                            <small><a href="{% url 'profiles:band-creation' %}">Agregar banda ☺</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock content %}