{% extends 'frontend/base.html' %}

{% block title %}
{% endblock title %}

{% block content %}
<div class="body-body">
    <div class="container">
        <div class="card">
            <div class="content">
                <div class="content-top">
                    <h2>BAND</h2>
                    <h2>MEMBERS</h2>
                </div>
                <div class="divider"></div>
                <div class="content-bot">
                    <h3>Band member</h3>
                    <p>Únete a la familia de músicos de Occidente que trabajan su música en este espacio.
                    </p>
                    <hr>
                    <p>Crea una cuenta y maneja tus bandas y tus reservaciones.</p>
                    <a href="{% url 'frontend:register' %}">Crear cuenta</a>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <div class="card-bands">
            <div class="content">
                <div class="content-top">
                    <h2>BAND</h2>
                    <h2>MANAGER</h2>
                </div>
                <div class="divider"></div>
                <div class="content-bot">
                    <h3>Band manager</h3>
                    <p>Crea tu banda, añade los integrantes y su rol. Lleva el control del tiempo que has ensayado
                        con
                        cada una.</p>
                    <hr>
                    <p>Entra y lleva el control de tus bandas dentro del perfil.</p>
                    <a href="#">Entrar</a>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
        <div class="card-reservations">
            <div class="content">
                <div class="content-top">
                    <h2>RERSERVATION</h2>
                </div>
                <div class="divider"></div>
                <div class="content-bot">
                    <h3>Reservations</h3>
                    <p>Ten el control de qué día y a qué hora vas a ensayar. </p>
                    <hr>
                    <p>Nuestro sistema te deja hacer track de las horas ensayadas con cualquiera de tus bandas</p>
                    <a href="#">Entrar</a>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}